.ymsSettings {
	display: block;
}

.ymsSettingsHeader {
	display: block;
	max-width: 800px;
	margin-bottom: 10px;
}

.ymsSettingsPartsContainer {
	display: block;
}

.ymsSettingsPart {
	display: inline-block;
}

.ymsSettingsPart * {
	width: 100%;
}

.ymsSettingsLabel {
	min-width: 200px;
}

.ymsSettingsInput {
	width: 300px;
}

.ymsSettingsImage {
	width: 30px;
}

.ymsSettingsButton {
	width: 200px;
}

.ymsSettingsFooter {
	border-bottom: 1px solid var(--color-border);
	margin-bottom: 30px;
	padding-bottom: 15px;
}

.ymsClickable {
	cursor: pointer;
}

.ymsSettingsList > * {
	padding-bottom: 5px;
}