.git*/
/build
/js

/coverage
/.nyc_output
/node_modules

/nbproject/private/
/vendor
/vendor-bin/*/vendor
composer.phar
/.php-cs-fixer.cache

/test-results
/tests/.phpunit.result.cache
/tests/clover*.xml

/playwright
/playwright-report

$FolderiChanger.ico
desktop.ini
Thumbs.db