:root {
	--color-error: #e53b39;
	--color-success: #30b471;
}

.rcdevsYmsModal .modal-container {
	width: fit-content !important;
}

.ymsModalContent,
.ymsModalContent * {
	display: flex;
}

.ymsModalContent {
	flex-flow: column;
	padding: 50px;
	align-items: center;
	justify-content: center;
}

.rcdevsLogo {
	height: 44px;
	left: 15px;
	position: absolute;
	top: 15px;
	width: 96px;
}

.rcdevsLogo img {
	object-fit: contain;
}

.ymsModalTitle {
	font-size: 30px;
	font-weight: 700;
}

ymsModalMainContainer {
	align-items: center;
	flex-flow: column;
	justify-content: center;
}

greenTick {
	display: inline-block;
	font-size: 150px;
	color: green;
	margin-top: 100px;
	margin-bottom: 100px;
}

.chosenFile {
	flex-flow: row;
}

.chosenFile .filename {
	margin-left: 10px;
	font-weight: 600;
}

recipientsChoices {
	flex-flow: column;
}

recipientsSignleChoice {
	flex-flow: row;
	margin-bottom: 5px;
}

recipientssignlechoice span {
	white-space: nowrap;
	overflow: hidden;
}

DisplaySelfEmail,
SelectNextcloudUsers,
InputUsersEmails {
	margin-left: auto;
}

displayselfemail,
SelectNextcloudUsers .vs__dropdown-toggle,
recipientsSignleChoice input[type=text] {
	width: 444px;
}

DisplaySelfEmail {
	align-items: center;
}

DisplaySelfEmail span {
	padding-left: 14px;
}

recipientsSignleChoice NcCheckboxRadioSwitch {
	margin-right: auto;
}

InputUsersEmails input {
	height: auto !important;
	margin: 0 !important;
}

ymsModalFooter {
	align-items: center;
	flex-flow: column;
	justify-content: center;
	margin-top: 50px;
}

button.closeModal,
button.submitSignature {
	min-width: 150px;
	width: fit-content;
	justify-content: center;
	align-items: center;
}

/* ALERTS */
.alert {
	border-radius: .25rem;
	border: 1px solid transparent;
	margin-bottom: 1rem;
	padding: .75rem 1.25rem;
	position: relative;
}

.alertDanger {
	background-color: #f8d7da;
	border-color: #f5c6cb;
	color: #721c24;

}

#errorSettings {
	margin-top: 50px;
	width: 400px;
}

.search-results {
	position: absolute;
	margin-top: 50px;
}

.search-results ul {
	flex-flow: column;
	border: 1px solid #ccc;
	border-radius: 16px;
	background-color: white;
}

.error {
	color: var(--color-error);
}

.success {
	color: var(--color-success);
}