.rcdevsModalYMS .modal-container {
	color: var(--clrTextStandard) !important;
	width: 830px !important;
	height: 660px !important;
}

rcdevsRow.chosenFile {
	font-size: 22px;
	letter-spacing: -0.45px;
	word-spacing: 0.11px;
}

rcdevsRow.chosenFile .filenameLabel {
	margin-top: 60px;
}

rcdevsRow.chosenFile .filenameValue {
	font-weight: bold;
	margin-top: 5px;
}

rcdevsRecipientsChoices {
	margin-top: 50px;
}

rcdevsRecipientsChoices .checkbox-content__icon .material-design-icon,
rcdevssignaturestypes .checkbox-content__icon .material-design-icon {
	height: 20px;
	width: 20px;
}

hr.rcdevsSeparator {
	margin-top: 40px;
}

rcdevsModalFooter>rcdevsrow {
	width: inherit;
}

rcdevssignaturestypes {
	justify-content: space-between;
	margin-top: 40px;
	width: 100%;
}

.rcdevsButtonsYMS {
	margin-top: 45px;
	align-items: center;
	justify-content: center;
}

svg#YumiSignLogo #YumiSignLabel .YumiSignLetter {
	fill: var(--clrAppLogolabel);
}

.filenameLabel,
recipientssignlechoice .checkbox-radio-switch,
rcdevssigntype rcdevsitem.rcdevsAdditional {
	font-family: Nunito;
	font-weight: 300 !important;
}

.filenameValue,
displayselfemail,
selectnextcloudusers,
inputusersemails {
	font-family: Nunito;
	font-weight: bold !important;
}