<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- RCDevs App -->
	<debug-vuejs>true</debug-vuejs>
	<scope>openid</scope>
	<token-name>Authorization: Bearer</token-name>
	<ttl>600</ttl>

	<!-- URLS -->
	<url-app-no-api>https://app.yumisign.com:443/</url-app-no-api>
	<url-app>https://app.yumisign.com:443/api/v1/</url-app>
	<url-archive>/storage/archive/</url-archive>
	<url-cancel>/workspaces/%s/workflows/%s/cancel</url-cancel>
	<url-debrief>/workspaces/%s/workflows/%s</url-debrief>
	<url-envelopes>/envelopes?%s</url-envelopes>
	<url-integ-apps-authorize>/integration-apps/authorize</url-integ-apps-authorize>
	<url-oauth-access>/OAuth/v2/access</url-oauth-access>
	<url-oauth-refresh>/OAuth/v2/refresh</url-oauth-refresh>
	<url-open-authorization>/OAuth/v2/access</url-open-authorization>
	<url-preferences>/workspaces/%s/workflows/%s/preferences</url-preferences>
	<url-recipients>/workspaces/%s/workflows/%s/roles</url-recipients>
	<url-session>/workspaces/%s/workflows/%s/session</url-session>
	<url-start-workflow>/workspaces/%s/workflows/%s/start</url-start-workflow>
	<url-steps>/workspaces/%s/workflows/%s/steps</url-steps>
	<url-workflows>/workspaces/%s/workflows</url-workflows>
	<url-workspaces-id>/workspaces/%s</url-workspaces-id>
	<url-workspaces>/workspaces</url-workspaces>

	<!-- RCDevs Bundle -->
	<api-key-name>X-YumiSign-Api-Key</api-key-name>
	<app-main-logo>YumiSign.svg</app-main-logo>
	<app-name-abbr>YMS</app-name-abbr>
	<app-name-short>YumiSign</app-name-short>
	<name-signed>YMSSigned</name-signed>

	<!-- SESSIONS -->
	<items-per-listing>1000</items-per-listing>
	<items-per-page>10</items-per-page>
	<table-name-sessions>yumisign_nxtc_sess</table-name-sessions>

	<!-- LOGS -->
	<log-config>log_rcdevs</log-config>
	<log-filename>logRCDevs.log</log-filename>

	<!-- CRON JOB -->
	<check-cron>OCA\YumiSignNxtC\BackgroundJob\CheckAsyncSignatureTask</check-cron>
	<cron-interval>5</cron-interval>

	<!-- STATUS -->
	<status-pending>APPROVED,PENDING,STARTED</status-pending>
	<status-done>SIGNED</status-done>
	<status-issue>CANCELED,DECLINED,ERROR,EXPIRED,FAILED,ISSUE,NOT APPLICABLE,NOT FOUND</status-issue>

	<!-- TIMEOUT -->
	<multiplication-factor-asynchronous>86400</multiplication-factor-asynchronous>
	<multiplication-factor-synchronous>60</multiplication-factor-synchronous>
	<cnx-time-out>3</cnx-time-out>
	
	<!-- USER SIGNED FOLDER -->
	 <user-signed-folder-applicant>YMSSigned/applicant</user-signed-folder-applicant>
	 <user-signed-folder-recipient>YMSSigned/recipient</user-signed-folder-recipient>

</config>
